/* font */
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700;800&family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* https://excalidraw.com/#json=8rJRP7TCN29HcyAh1vMDv,PwahPyopI7_1Mq8mIc6brQ */

:root {
  --title: "Catamaran", sans-serif;
  --paragraph: "Poppins", sans-serif;
  --placeholder: "Inter", sans-serif;
  /* colors */
  --primary-color: #3757d5;
  --secondary-color: #6f7d94;
  --title-color: rgb(31, 62, 114);
  --sub-title-color: rgb(44, 85, 155);
}

h1,
h2,
.title {
  font-family: var(--title);
  color: var(--title-color);
  text-wrap: balance;
}

p {
  font-family: var(--paragraph);
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 1rem;
}

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 2rem;
}

.layout {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.title {
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 800;
}

.sub-title {
  font-size: 2.2rem;
  font-weight: 800;
  text-wrap: balance;
}

.text-description {
  margin-top: 1.2rem;
  line-height: 1.8;
}

.container__spacing {
  /* padding-bottom: 3rem; */
  margin-bottom: 4rem;
}

/* header / nav */
.header {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 51%,
    rgba(230, 244, 252, 1) 55%
  );
  margin-bottom: 0.2em;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
}

.header__logo {
  .logo_name {
    font-family: var(--title);
    font-weight: 800;
    color: var(--primary-color);
  }
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__nav {
  display: flex;
  gap: 4rem;
}

.nav__item {
  font-size: 1rem;
  font-family: var(--paragraph);
  font-weight: 500;
  color: var(--secondary-color);
  transition: all 0.3s ease 0s;

  &:hover {
    color: #3757d5;
  }
}

.header__btn {
  display: flex;
  justify-content: center;
}

.btn {
  margin-left: 1.25rem;
  padding: 20px 20px;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  box-shadow: -4px 24px 21px -19px rgba(55, 55, 213, 0.49);

  &:hover {
    background-color: rgba(55, 87, 213, 0.8);
  }
}

/* Section / Hero Content */
.hero__content {
  padding: 8em 0;
  margin-top: 3px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.items {
  display: flex;
  margin-top: 4rem;
  justify-content: flex-start;
}

.item {
  color: var(--description-color);
  font-size: 1rem;
  display: flex;
  font-weight: 700;
  margin-right: 1.5rem;
}

.item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 28px;
  height: 23px;
  margin-right: 1rem;
  border: 0.5px solid white;
  border-radius: 2px;
  background: rgb(255, 208, 18);
  background: linear-gradient(
    0deg,
    rgba(255, 208, 18, 0.196516106442577) 0%,
    rgba(255, 249, 224, 0.30015756302521013) 83%
  );
  box-shadow: 0px 5px 6px -4px rgba(255, 208, 18, 0.51);
}

/* Section / Image */

.hero__image {
  background:
    url(../assets/img/vaccineBg.png) bottom / cover no-repeat,
    linear-gradient(to left, #1f6fbf, #3aa0f3);
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Schedule */
.sec-schedule {
  position: absolute;
  z-index: 1;
  top: 700px;
  left: 101px;
  width: 879px;
}

/* title form */
.bxs-time-five {
  box-shadow: 0px 9px 5px -2px rgba(223, 231, 255, 1);
}

.sch {
  color: var(--description-color);
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

/* form */
label {
  display: flex;
  align-items: center;
  font-family: var(--paragraph) !important;
  color: var(--description-color);
  font-weight: 500;
  font-size: 18px !important;
}

.sec-schedule form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130px;
  border: 2px solid white;
  border-radius: 0.5rem;
  box-shadow: 200px 0px 241px 60px rgba(253, 254, 255, 1) inset;
  -webkit-box-shadow: 200px 0px 241px 60px rgba(255, 255, 255, 1) inset;
  -moz-box-shadow: 200px 0px 241px 55px rgba(255, 255, 255, 1) inset;
}

.sec-schedule .form-group {
  padding-right: 1.8rem;
}

.sec-schedule .form-group .form-control {
  margin-top: 0.6rem;
  border: none;
}

::placeholder {
  font-family: var(--placeholder);
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
  color: var(--headings2);
}

.sec-schedule .sub {
  font-family: var(--paragraph);
  font-size: 16px;
  margin-left: 30px;
  padding: 15px 40px;
  background-color: var(--principal);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  box-shadow: -4px 24px 21px -19px rgba(55, 55, 213, 0.49);
}

.sec-schedule .sub:hover {
  background-color: rgba(55, 87, 213, 0.8);
}

/* icons2 */
.iconC {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 26px;
  height: 26px;
  margin-right: 1rem;
  border: 0.5px solid white;
  border-radius: 5px;
  background: rgb(223, 231, 255);
  background: linear-gradient(
    0deg,
    rgba(223, 231, 255, 1) 0%,
    rgba(223, 231, 255, 0.6643032212885154) 100%
  );
}

/* Section / Logos */
.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(2rem, 5vw, 4rem);
}

.logos__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.logos__item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.logo--align {
  object-position: 0px -6px;
}

.logo--muted {
  filter: grayscale(1) opacity(16%);
}

/* Section / Benefit's  */
.benefits__inner {
  width: 100%;
  line-height: 1.4;
  margin-bottom: 3rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 2rem;
}

.card-element {
  width: 100%;
  max-height: 500px;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  box-shadow: 200px 0px 241px 60px rgba(253, 254, 255, 1) inset;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  padding: 2rem;
}

.card-element:nth-child(2) {
  box-shadow: -2px 26px 33px -2px rgba(223, 231, 255, 1);
  border: 1px solid white;
}

/* Card / Content */
.icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  width: 44px;
  height: 44px;
  margin-right: 1em;
  margin-bottom: 1.25em;
  border: 1px solid white;
  border-radius: 10px;
  background: rgb(223, 231, 255);
  background: linear-gradient(
    0deg,
    rgba(223, 231, 255, 1) 0%,
    rgba(223, 231, 255, 0.6643032212885154) 100%
  );
}

.card__title {
  font-family: var(--paragraph);
  color: var(--sub-title-color);
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.card__description {
  font-size: 0.8rem;
  line-height: 1.7;
  text-wrap: balance;
}

.bxs-check-shield {
  box-shadow: 0px 9px 5px -2px rgba(223, 231, 255, 1);
}

/* Section / Preparations */
.preparations__image {
  background:
    url(../assets/img/vaccine2.png) bottom / 180% no-repeat,
    linear-gradient(to left, #1f6fbf, #3aa0f3) bottom / 100% 60% no-repeat;
  min-height: 720px;
}

.preparations__content {
  margin-top: 1em;
  padding-bottom: 4em;
}

.list__element {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(247, 246, 246);
  border-radius: 1px;
  margin-bottom: 1.3em;
  padding: 0.6rem 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.modal {
  flex-direction: column;
  box-shadow: 0px 40px 20px -35px rgba(223, 231, 255, 1);
}

/* Content Card / Inner */
.card__title--modal-title {
  font-size: 0.875rem;
  margin-bottom: 0;
}

.iconR1 {
  margin-left: 120px;
}

.iconR3 {
  margin-left: 210px;
}

.iconR4 {
  margin-left: 200px;
}

.iconR5 {
  margin-left: 115px;
}
.bxs-down-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 20px;
  height: 20px;
  border: 0.1px solid white;
  border-radius: 5px;
  background: rgb(223, 231, 255);
  background: linear-gradient(
    0deg,
    rgba(223, 231, 255, 1) 0%,
    rgba(223, 231, 255, 0.6643032212885154) 100%
  );
}

.bxs-up-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 20px;
  height: 20px;
  border: 0.1px solid white;
  border-radius: 5px;
  background: rgb(223, 231, 255);
  background: linear-gradient(
    0deg,
    rgba(223, 231, 255, 1) 0%,
    rgba(223, 231, 255, 0.6643032212885154) 100%
  );
  box-shadow: -2px 7px 10px 0px rgba(223, 231, 255, 1);
}
/* span subtitle de cada fila */
.pre-t {
  font-family: var(--paragraph);
  font-weight: 500;
  color: var(--headings);
  font-size: 1.1rem;
}

.iconUp {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}

#ri-ght {
  margin-left: 245px;
}

.para-g {
  font-size: 13px !important;
  font-weight: 400 !important;
  margin-left: 43px;
}
/* ----------------------------------- */
/* article4 */
.content4 {
  display: flex;
  flex-direction: row;
  height: 750px;
  padding: 0px 8%;
  margin-top: 10rem;
  margin-bottom: 7rem;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.img-2 {
  width: 50%;
}

.fila {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.desc-sec > p {
  line-height: 1.5;
  margin-bottom: 5rem;
}

.fila {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.columna {
  width: 250px;
  height: 200px;
  border: 3px solid rgba(250, 250, 255, 1);
  border-radius: 14px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 20px 5%;
}

.el-t2 {
  font-family: var(--paragraph);
  color: var(--headings);
  font-weight: 500;
  font-size: 18px;
}

.min_num {
  font-size: 13px !important;
}

.columna > button {
  font-size: 16px;
  font-family: var(--placeholder);
  font-weight: 700;
  width: 200px;
  height: 60px;
  text-align: center;
  background-color: rgb(241, 245, 255);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: var(--principal);
}

.columna .chatnow {
  font-size: 16px;
  font-family: var(--placeholder);
  font-weight: 500;
  width: 200px;
  height: 60px;
  text-align: center;
  background-color: var(--principal);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  box-shadow: -4px 24px 21px -19px rgba(55, 55, 213, 0.49);
}

.columna .chatnow:hover {
  background-color: rgba(55, 87, 213, 0.8);
}

.img-d {
  position: relative;
  width: 85%;
  height: 550px;
  object-fit: cover;
  object-position: -219px 0px;
  z-index: 1;
  top: 166px;
  right: 0;
  left: 190px;
}

.img-v2 {
  width: 535px;
  height: 420px;
  background: linear-gradient(to left, #0072ff, #00c6ff);
  position: absolute;
  top: 3095px;
  right: 0;
  left: 750px;
}

/* footer */
.grid_lay {
  background-color: #eef3ff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  height: 260px;
}

.item3 {
  display: flex;
  flex-direction: column;
  padding: 3rem 0 0 15%;
}

h3 {
  color: var(--principal) !important;
  font-family: var(--title);
  font-size: 1.6rem !important;
  margin-bottom: 1rem !important;
}

.item3 > p {
  line-height: 1.6;
  font-size: 13px !important;
}

.sec-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 1.5rem;
}

.item4 > p {
  font-family: var(--placeholder);
  color: var(--headings) !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 3;
}

.item4 ul > li {
  font-family: var(--placeholder);
  font-size: 13px;
  line-height: 2.5;
  color: var(--secundario);
  font-weight: 600;
}

.reserved {
  background-color: #eef3ff;
  font-family: var(--paragraph);
  color: var(--secundario);
  display: flex;
  height: 40px;
}

.reserved ul li {
  font-size: 13px !important;
  display: inline;
  font-weight: 500;
}

.spacing1 {
  padding-left: 6rem;
}

.spacing {
  padding-left: 33rem;
}

.spacing li {
  padding-left: 20px;
}

/* En Laptops (más de 1200px de pantalla) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px; /* Estándar clásico */
  }
}
